html {
  font-size: 62.5%;
}
@media (max-width: 991px) {
  html {
    font-size: 51.67%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 373px) {
  html {
    font-size: 15%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
